<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}

<!-- Название у нас будет products -->
{% block title %}
news
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
    <h3>{{ time_now|date:'d M Y' }}</h3>
    <h1>Все новости</h1>
    {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}

    <form action="" method="get">
    {{ filterset.form.as_p }}

    <input type="submit" value="Найти"/>
    </form>


    {% if news %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Текст</td>
               <td>Тип поста</td>
               <td>ID поста</td>
               <td>Автор</td>
           </tr>

           <!-- Для каждого товара будете генерироваться новая строчка,
           т.е. новый HTML код, который указан в теле цикла.
           При этом сам цикл работает точно так же, как и в Python.
           product — переменная цикла, т.е. наш товар полученный из списка -->
           {% for new in news %}
           <tr>
               <!-- Не забываем, что переменные в шаблоне ничем не отличаются
                от переменных в Python. Здесь также можно получать доступ к
                полям объекта модели. Например, здесь мы выводим имя,
                в следующем столбце описание, и т.д.  -->
               <td>{{ new.title|censor }}&emsp;</td>
               <td>{{ new.date_create|date:'d M Y, H m'|censor}}&emsp;</td>
               <td>{{ new.content|truncatechars:20|censor }}&emsp;</td>
               <td>{{ new.post_type }}&emsp;</td>
               <td>{{ new.id }}&emsp;</td>
               <td>{{ new.author }}&emsp;</td>

           </tr>
           {% endfor %}

       </table>
    {% else %}
       <!-- Если новостей нет, говорим, что новостей нет ;) -->
       <h2>Новостей нет!</h2>

    {% endif %}
    {% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}